<header class="entry-header page-heading orange page-heading--resources">
  <div class="content">
    <div class="header-content">
      <h1 class="hero-heading">
        Free Wifi
      </h1>
    </div>
  </div>
</header> 
<section class="section">
  <div class="content--narrow white">
    <div>
      <h2 class="border-orange">Login</h2>
      <ul class="social-sharing-list">
        <li>
          <a href="/auth/facebook" class="social-sharing-button facebook">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 79.5 97.4">
              <title>Share on Facebook</title>
              <style>.facebook-blue{fill:#3C5A97;} 
                .facebook-blue-dark{fill:#345088;} 
                .s-white {fill:#FFFFFF;}</style><path class="facebook-blue" d="M79.5 0H0v79.6h21.9v17.8l17.9-17.8h39.7"/><path class="facebook-blue-dark" d="M39.8 0h39.8v79.5H39.8z"/><path class="facebook-blue" d="M62.6 65.5c1.6 0 2.8-1.3 2.8-2.8V16.9c0-1.6-1.3-2.8-2.8-2.8H16.9c-1.6 0-2.8 1.3-2.8 2.8v45.7c0 1.6 1.3 2.8 2.8 2.8h45.7z"/><path class="s-white" d="M49.5 65.5V45.6h6.7l1-7.8h-7.7v-5c0-2.2.6-3.8 3.8-3.8h4.1v-6.9c-.7-.1-3.2-.3-6-.3-5.9 0-10 3.6-10 10.3v5.7h-6.7v7.8h6.7v19.9h8.1z"/></svg>
          </a>
        </li>
        <li>
          <a href="/auth/twitter" class="social-sharing-button twitter">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 79.5 97.4">
              <title>Share on Twitter</title>
              <style>.twitter-blue{fill:#15B0E5;} .twitter-blue-dark{fill:#19A1D0;} </style><path class="twitter-blue" d="M79.5 0H0v79.5h21.9v17.9l17.9-17.9h39.7"/><path class="twitter-blue-dark" d="M39.8 0h39.8v79.5H39.8z"/><path class="s-white" d="M55.8 31.5v1.1c0 11-8.3 23.6-23.6 23.6-4.7 0-9.1-1.4-12.7-3.7.7.1 1.3.1 2 .1 3.9 0 7.4-1.3 10.3-3.5-3.6-.1-6.7-2.5-7.7-5.7.5.1 1 .1 1.6.1.7 0 1.5-.1 2.2-.3-3.9-.8-6.7-4.2-6.7-8.2v-.1c1.1.6 2.4 1 3.7 1-2.2-1.5-3.7-4-3.7-6.9 0-1.5.4-3 1.1-4.2 4.1 5 10.2 8.3 17.1 8.7-.1-.6-.2-1.3-.2-1.9 0-4.6 3.7-8.3 8.3-8.3 2.4 0 4.5 1 6.1 2.6 1.9-.4 3.7-1 5.3-2-.6 1.9-1.9 3.5-3.6 4.6 1.7-.2 3.3-.6 4.8-1.3-1.2 1.7-2.6 3.2-4.3 4.3"/></svg>
          </a>
        </li>
        <li>
          <a href="/auth/linkedin"class="social-sharing-button linked-in">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 79.5 97.4"><title>Share on Linked In</title><style>.linkedin-blue{fill:#0077B5;} .linkedin-blue-dark{fill:#036DA6;} </style><path class="linkedin-blue" d="M79.5 0H0v79.5h21.9v17.9l17.9-17.9h39.7"/><path class="linkedin-blue-dark" d="M39.8 0h39.8v79.5H39.8z"/><g><path class="s-white" d="M21.2 31.2h8.4v25.1h-8.4zM50.1 30.6c-4.4 0-6.4 2.4-7.5 4.1v.1h-.1s0-.1.1-.1v-3.5h-8.4s.1 2.4 0 25.1h8.4v-14c0-.7 0-1.5.3-2 .6-1.5 2-3 4.3-3 3 0 4.2 2.3 4.2 5.7v13.4h8.4V41.9c-.1-7.7-4.2-11.3-9.7-11.3M25.5 19.1c-2.9 0-4.7 1.9-4.7 4.3s1.8 4.3 4.6 4.3c2.9 0 4.7-2 4.7-4.3 0-2.4-1.8-4.3-4.6-4.3"/></g></svg>
          </a>
        </li>
        <li>
          <a href="/auth/google" class="social-sharing-button google-plus">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 79.5 97.4">
              <title>Share on Google Plus</title>
              <style>.google-red{fill:#DB4536;} .google-red-dark{fill:#CF4133;} </style><path class="google-red" d="M79.5 0H0v79.5h21.9v17.9l17.9-17.9h39.7"/><path class="google-red-dark" d="M39.8 0h39.8v79.5H39.8z"/><g><path class="s-white" d="M31 55c-9 0-16.3-7.3-16.3-16.3S22 22.5 31 22.5c4.4 0 8.1 1.6 10.9 4.3L37.5 31c-1.2-1.2-3.3-2.5-6.5-2.5-5.5 0-10.1 4.6-10.1 10.3S25.4 49 31 49c6.4 0 8.9-4.6 9.2-7H31v-5.6h15.4c.2.8.3 1.6.3 2.7C46.6 48.4 40.4 55 31 55zm34.8-13.9h-4.6v4.6h-4.7v-4.6h-4.6v-4.7h4.6v-4.6h4.7v4.6h4.6v4.7z"/></g></svg>
          </a>
        </li>
      </ul>
    </div>


    <div class="content text-center">
      <p>Your IP: {{client_ip}} | Your MAC: {{client_mac}} | AP MAC: {{node_mac}}</p>
      <p><a href="/terms">Terms and Conditions</a></p>
    </div>
  </div>

</section>