<header class="entry-header page-heading orange page-heading--resources">
  <div class="content">
    <div class="header-content">
      <h1 class="hero-heading">
        You're in!!
      </h1>
    </div>
  </div>
</header>
<section class="section">
  <div id="content--narrow white">
    <p>
      Continue on to
      <br>
      <a href={{continue_url}}>{{continue_url}}</a>
    </p>
  </div>
</section>